<app-header backButton="/auth" title="Recuperar Contraseña"></app-header>
<ion-content>
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <h1>Recuperar Contraseña</h1>
      </div>
      <div class="login-form">
        <app-logo></app-logo>
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          (keypress.enter)="submit()"
        >
          <app-custom-input
            autocomplete="email"
            icon="mail-outline"
            [control]="form.controls.email"
            type="email"
            label="Correo"
          ></app-custom-input>

          <div
            class="validators"
            *ngIf="form.controls.email.errors && form.controls.email.touched"
          >
            <div *ngIf="form.controls.email.errors?.['required']">
              El correo es requerido
            </div>
            <div *ngIf="form.controls.email.errors?.['email']">
              Ingresa un correo válido
            </div>
          </div>

          <ion-button
            expand="block"
            mode="ios"
            type="submit"
            [disabled]="form.invalid"
            class="custom-button"
          >
            <span class="button-inner">
              Enviar Instrucciones
              <ion-icon name="send-outline"></ion-icon>
            </span>
          </ion-button>

          <div class="back-to-login">
            <a routerLink="/auth">Volver a Iniciar Sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
