ion-content {
  --background: transparent;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%; /* Ocupa toda la altura disponible de ion-content */
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

.map-canvas {
  width: 100%;
  height: 100%;
}



