<ion-footer class="ion-no-border">
  <ion-grid>
    <!-- Sección principal del footer -->
    <ion-row class="ion-padding">
      <!-- Columna de información de la empresa -->
      <ion-col size="12" size-md="4">
        <ion-text color="light">
          <h3>V e l o c i C a r s</h3>
        </ion-text>
        <ion-text color="medium">
          <p>
            Tu destino confiable para encontrar el auto de tus sueños. Ofrecemos
            una amplia selección de vehículos de todas las marcas y modelos, con
            garantía de calidad y precios competitivos. Confía en nosotros para
            guiarte hacia tu próximo automóvil.
          </p>
        </ion-text>
        <ion-list>
          <ion-item lines="none">
            <ion-buttons slot="start">
              <ion-button fill="clear" color="light">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="light">
                <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="light">
                <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Columna de navegación -->
      <ion-col size="12" size-md="4">
        <ion-text color="light">
          <h4>Navegación</h4>
        </ion-text>
        <ion-list>
          <ion-item button detail="false" lines="none">
            <ion-icon slot="start" name="home" color="medium"></ion-icon>
            <ion-label color="medium">Inicio</ion-label>
          </ion-item>

          <ion-item button detail="false" lines="none">
            <ion-icon slot="start" name="person" color="medium"></ion-icon>
            <ion-label color="medium">Perfil</ion-label>
          </ion-item>

          <ion-item button detail="false" lines="none">
            <ion-icon
              slot="start"
              name="information-circle"
              color="medium"
            ></ion-icon>
            <ion-label color="medium">Sobre Nosotros</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Columna de contacto -->
      <ion-col size="12" size-md="4">
        <ion-text color="light">
          <h4>Contacto</h4>
        </ion-text>
        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" name="mail" color="medium"></ion-icon>
            <ion-label color="medium">velocicars&#64;outlook.com.mx</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon slot="start" name="call" color="medium"></ion-icon>
            <ion-label color="medium">+52 449 228 6513</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon slot="start" name="location" color="medium"></ion-icon>
            <ion-label color="medium"
              >Blvd. José María Chávez s/n, Cd Industrial, Desarrollo Especial
              Centro de Abastos, 20290 Aguascalientes, Ags.</ion-label
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Copyright -->
    <ion-row class="ion-padding-vertical copyright">
      <ion-col class="ion-text-center">
        <ion-text color="medium">
          <p>&copy; 2024 V e l o c i C a r s. Todos los derechos reservados.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
