<app-header backButton="/auth" title="Registro"></app-header>
<ion-content>
  <div class="signup-container">
    <div class="signup-card">
      <div class="signup-header">
        <h1>Registrarse</h1>
      </div>
      <div class="signup-form">
        <app-logo></app-logo>
        <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
          <app-custom-input 
            autocomplete="name" 
            icon="person-outline" 
            [control]="form.controls.name" 
            type="text" 
            label="Nombre"
          ></app-custom-input>

          <div 
            class="validators" 
            *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">
              El nombre es requerido
            </div>
          </div>

          <app-custom-input 
            autocomplete="email" 
            icon="mail-outline" 
            [control]="form.controls.email" 
            type="email" 
            label="Correo electrónico"
          ></app-custom-input>

          <div 
            class="validators" 
            *ngIf="form.controls.email.errors && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors?.['required']">
              El correo es requerido
            </div>
            <div *ngIf="form.controls.email.errors?.['email']">
              Ingresa un correo válido
            </div>
          </div>

          <app-custom-input 
            [control]="form.controls.password" 
            icon="lock-closed-outline" 
            type="password" 
            label="Contraseña"
          ></app-custom-input>

          <div 
            class="validators" 
            *ngIf="form.controls.password.errors && form.controls.password.touched">
            <div *ngIf="form.controls.password.errors?.['required']">
              La contraseña es requerida
            </div>
            <div *ngIf="form.controls.password.errors?.['minlength']">
              La contraseña debe tener al menos 6 caracteres
            </div>
          </div>

          <!-- Checkbox para Términos y Condiciones -->
          <ion-item lines="none" class="terms-container">
            <ion-checkbox 
              slot="start" 
              [formControl]="form.controls.termsAccepted">
            </ion-checkbox>
            <ion-label class="terms-label">
              Al registrarte, aceptas nuestros 
              <a routerLink="/terms-and-conditions" class="link">Términos y Condiciones</a> y la 
              <a routerLink="/privacy-policy" class="link">Política de Privacidad</a>.
            </ion-label>
          </ion-item>
          <div 
            class="validators" 
            *ngIf="form.controls.termsAccepted.errors && form.controls.termsAccepted.touched">
            <div *ngIf="form.controls.termsAccepted.errors?.['required']">
              Debes aceptar los términos y condiciones para registrarte.
            </div>
          </div>

          <ion-button expand="block" mode="ios" type="submit" [disabled]="form.invalid">
            Registrarse
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
          
          <div class="login-link">
            ¿Ya tienes una cuenta? <a routerLink="/auth">Inicia sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
