ion-content {
  --background: var(--ion-color-light);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  background-color: #e7f3fe; // Color suave y fijo
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;

  .profile-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    background-color: #4ecdc4; // Color fijo para las iniciales
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 1.5rem;
    margin: 5px 0;
    color: #333;
    font-weight: 600;
  }

  .user-email {
    font-size: 1rem;
    color: #555;
    margin-top: 2px;
  }
}

.products-container {
  padding: 20px;
  margin-top: 20px;
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  ion-grid {
    min-width: 700px;

    ion-row {
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      &.table-header {
        background-color: #f7f7f7;
        color: #666;
        font-weight: 500;
        text-transform: uppercase;

        ion-col {
          padding: 5px;
        }
      }

      ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 0.9rem;
      }

      .action-buttons {
        display: flex;
        justify-content: space-evenly;

        ion-button {
          --padding-start: 8px;
          --padding-end: 8px;
          font-size: 0.9rem;
          display: flex;
          align-items: center;

          ion-icon {
            margin-right: 4px;
          }
        }
      }
    }
  }
}
